main
{
    display: flex;
    height: calc(100vh - 37px);
    flex-direction: row;
}

#sectionA 
{
    background-color: #F4E1C1;
    flex: 8;
}

#sectionB 
{
    background-color: #7DCEA0;    
    flex: 6;
}